* {
    box-sizing: border-box;
}


/* variables */
:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --trans-black: #00000057;
    --yellow-color: #F9C06A6B;
    --dark-yellow: #f9c06a;
    --coffee-color: #603809;
    --cards-color: #FFF9F1;
    --cta-color: #1E1E1E;
    --cards-bg-color:#FFEED8;
    --cards-stroke-color: #707070;
    --text-color: #707070;
    --background-color: #FFFEFC;

    --primary-font: "Playfair Display";
    --secondary-font: "Clicker Script";

    --icon-arrow-ele-width: 82px;
    --user-img-width: 112px;
}
/* e: variables */

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: var(--primary-font), sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* top-bar */
.top-bar {
    color: var(--white-color);
    position: absolute;
    width: 100%;
    padding: 20px 0;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar__logo {
    font-family: var(--secondary-font), sans-serif;
    font-size: 35px;
    font-weight: 400;
}

.top-bar__nav-list {
    display: flex;
    gap: 80px;
}

.top-bar a {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 500;
}

.top-bar__nav-btns {
    display: flex;
    gap: 30px;
}

.top-bar__sign-in {
    text-decoration: underline;
}


/* e: top-bar */

/* header */
.header {
    background: url("../images/coffee_image.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-origin: padding-box;
    background-size: cover;

    color: var(--white-color);
    /* position: relative; */
}

.header .container {
    min-height: 85vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__wrapper {
    width: 40%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-top: 100px;
}

.header__title {
    font-family: var(--secondary-font), sans-serif;
    font-size: 220px;
    font-weight: 400;
}

.header__subtitle-top {
    font-size: 22px;
}

.header__subtitle-bottom {
    font-size: 20px;
    line-height: 34px;
}

.header__buttons {
    display: flex;
    gap: 25px;
}
/* e: header */

/* section */
.section {
    margin-top: 70px;
    margin-bottom: 70px;
}

.section .container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

.section__title {
    font-size: 54px;
    font-weight: 700;
    color: var(--coffee-color);
}

.section__subtitle {
    font-size: 20px; 
    line-height: 34px;
    font-weight: 400;
    color: var(--cards-stroke-color);
}

.section__columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section__column {
}

/* nested block section column */
.column__title {

}

.column__subtitle {

}

.column__text {

}
/* e: nested block section column */
/* e: section */

/* discover section */
.discover-section {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
}

.discover-section .section__column {
    width: 50%;
}

.discover-section .column__title {
    color: var(--coffee-color);
    font-size: 54px;
    font-weight: 700;
    margin-top: 65px;
    margin-bottom: 45px;
}

.discover-section .column__text {
    color: var(--cards-stroke-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 30px;
}

.discover-section .section__columns div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

/* e: discover section */

/* shop section */
.shop-section {
    text-align: center;
}

.shop-section .section__columns {

}

.shop-section .section__column {
    background-color: var(--cards-color);
    border: 1px solid var(--yellow-color);
}

.shop-section .column__title {
    font-size: 22px;
    font-weight: 700;
    color: var(--coffee-color);
}

.shop-section .column__subtitle {
    font-size: 16px;
    font-weight: 400;
    color: var(--cta-color);
}

.shop-section .column__text {
    font-size: 18px;
    font-weight: 700;
    color: var(--coffee-color);
}
/* e: shop section */

/* usp section */
.usp-section {
    text-align: center;
}

.usp-section .section__column {
    background-color: var(--cards-color);
    border: 1px solid var(--yellow-color);
    padding: 36px 40px;
    width: 25%;
}

.usp-section .section__column img {
    width: 88px;
    height: 88px;
    margin-bottom: 30px;
}

.usp-section .column__title {
    color: var(--coffee-color);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;

}
.usp-section .column__subtitle {
    color: var(--cards-stroke-color);
    font-size: 20px;
    font-weight: 400;
}

.usp__cta-top {
    color: var(--cards-stroke-color);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.usp__cta-bottom {
    color: var(--coffee-color);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 35px;
}
/* e: usp section */

/* banner section */

/* we use the same styles from direction section */
/* and now add the differences */
.banner-section {
    background-image: url("../images/banner-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.banner-section .column__title {
    margin-top: 90px;
    color: var(--white-color);
}

.banner-section .column__text {
    color: var(--white-color);
    background-size: contain;
}
.banner-section .column__title {
    margin-bottom: 35px;
}

.banner-section .column__text {
    margin-bottom: 20px;
    width: 70%;
}
/* e: banner section */

/* feedback section */
.feedback-section {

}

.feedback-section .section__columns {

}

.feedback-section__container {
    display: flex;
    align-items: center;
}

.feedback-section__arrow-left, .feedback-section__arrow-right {
    display: inline-block;
    width: var(--icon-arrow-ele-width);
    height: var(--icon-arrow-ele-width);
    border-radius: 15px;
    flex-shrink: 0;
}

.feedback-section__arrow-left {
    background: var(--dark-yellow) url(../images/icon-left.svg) no-repeat center;
    position: relative;
    left: calc(var(--icon-arrow-ele-width)*0.5);
}

.feedback-section__arrow-right {
    background: var(--dark-yellow) url(../images/icon-right.svg) no-repeat center;
    position: relative;
    right: calc(var(--icon-arrow-ele-width)*0.5);

}
/* nested block feedback-card */

.feedback-section__feedback-card {
    background-color: var(--cards-color);
    border: 1px solid var(--yellow-color);

    /* text-align: center; */
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 0;

}
.feedback-card__quote {
    
}

.feedback-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 30px;
    padding-left: 65px;
    padding-right: 65px;
    text-align: center;
}

.feedback-card__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: var(--cards-stroke-color);
}

.feedback-card__user-data {

}

.feedback-card__user-name {
    color: var(--coffee-color);
    font-size: 32px;
    font-weight: 700;
}

.feedback-card__user-job-title {
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    color: var(--cards-stroke-color);
}

.feedback-card__user-img {
    position: relative;
    top: calc(var(--user-img-width)*0.5);
}
/* e: nested block feedback-card */
/* e: feedback section */

/* subscribe section */
.subscribe-section {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 130px;
    background-image: url("../images/subscribe-bg.jpg");
    background-size: cover;
    background-position: center;
}

.subscribe-section .section__title {
    color: var(--white-color)
}

.subscribe-section .section__subtitle {
    color: var(--white-color);
}

.subscribe-section__form {
    display: flex;
    width: 55%;
    border: 1px solid var(--yellow-color);
    border-radius: 4px;
    background-color: var(--white-color);
}
/* nested element form */
.form__email {
    padding: 16px 20px;
    flex-grow: 1;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.form__email::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: var(--trans-black);
    position: relative;
    top: 3px
}

.form__button {
    background-color: var(--dark-yellow);
    font-size: 22px;
    font-weight: 700;
    color: var(--coffee-color);
    border: 1px solid var(--dark-yellow);
    border-radius: 4px;
    box-shadow: 0px 6px 12px var(--yellow-color);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
}
/* e: nested element form */

/* e: subscribe section */