* {
    box-sizing: border-box;
}


/* variables */
:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --yellow-color: #F9C06A6B;
    --coffee-color: #603809;
    --cards-color: #FFF9F1;
    --cta-color: #1E1E1E;
    --cards-bg-color:#FFEED8;
    --cards-stroke-color: #707070;
    --text-color: #707070;
    --background-color: #FFFEFC;

    --primary-font: "Playfair Display";
    --secondary-font: "Clicker Script";
}
/* e: variables */

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: var(--primary-font), sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* top-bar */
.top-bar {
    color: var(--white-color);
    position: absolute;
    width: 100%;
    padding: 20px 0;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar__logo {
    font-family: var(--secondary-font), sans-serif;
    font-size: 35px;
    font-weight: 400;
}

.top-bar__nav-list {
    display: flex;
    gap: 80px;
}

.top-bar a {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 500;
}

.top-bar__nav-btns {
    display: flex;
    gap: 30px;
}

.top-bar__sign-in {
    text-decoration: underline;
}


/* e: top-bar */

/* header */
.header {
    background: url("../images/coffee_image.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-origin: padding-box;
    background-size: cover;

    color: var(--white-color);
    /* position: relative; */
}

.header .container {
    min-height: 85vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__wrapper {
    width: 40%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-top: 100px;
}

.header__title {
    font-family: var(--secondary-font), sans-serif;
    font-size: 220px;
    font-weight: 400;
}

.header__subtitle-top {
    font-size: 22px;
}

.header__subtitle-bottom {
    font-size: 20px;
    line-height: 34px;
}

.header__buttons {
    display: flex;
    gap: 25px;
}
/* e: header */

/* section */
.section {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.section .container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

.section__title {
    font-size: 54px;
    font-weight: 700;
    color: var(--coffee-color);
}

.section__subtitle {
    font-size: 20px; 
    line-height: 34px;
    font-weight: 400;
    color: var(--cards-stroke-color);
}

.section__columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section__column {
}

/* nested block section column */
.column__title {

}

.column__subtitle {

}

.column__text {

}
/* e: nested block section column */
/* e: section */

/* discover section */
.discover-section {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
}

.discover-section .section__column {
    width: 50%;
}

.discover-section .column__title {
    color: var(--coffee-color);
    font-size: 54px;
    font-weight: 700;
    margin-top: 65px;
    margin-bottom: 45px;
}

.discover-section .column__text {
    color: var(--cards-stroke-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 30px;
}

.discover-section .section__columns div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

/* e: discover section */

/* shop section */
.shop-section {

}

.shop-section .section__columns {

}

.shop-section .section__column {
    background-color: var(--cards-color);
    border: 1px solid var(--yellow-color);
}

.shop-section .column__title {
    font-size: 22px;
    font-weight: 700;
    color: var(--coffee-color);
}

.shop-section .column__subtitle {
    font-size: 16px;
    font-weight: 400;
    color: var(--cta-color);
}

.shop-section .column__text {
    font-size: 18px;
    font-weight: 700;
    color: var(--coffee-color);
}
/* e: shop section */

/* usp section */
.usp-section {

}

.usp-section .section__column {
    background-color: var(--cards-color);
    border: 1px solid var(--yellow-color);
    padding: 36px 40px;
    width: 25%;
}

.usp-section .section__column img {
    width: 88px;
    height: 88px;
    margin-bottom: 30px;
}

.usp-section .column__title {
    color: var(--coffee-color);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;

}
.usp-section .column__subtitle {
    color: var(--cards-stroke-color);
    font-size: 20px;
    font-weight: 400;
}

.usp__cta-top {
    color: var(--cards-stroke-color);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.usp__cta-bottom {
    color: var(--coffee-color);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 35px;
}
/* e: usp section */

/* banner section */

/* we use the same styles from direction section */
/* and now add the differences */
.banner-section {
    background-image: url("../images/banner-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.banner-section .column__title {
    margin-top: 90px;
    color: var(--white-color);
}

.banner-section .column__text {
    color: var(--white-color);
    background-size: contain;
}
.banner-section .column__title {
    margin-bottom: 35px;
}

.banner-section .column__text {
    margin-bottom: 20px;
    width: 70%;
}


/* e: banner section */